.vscode/**
.vscode-test/**
.github/**
.husky/**
node_modules/**
src/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/.eslintrc.json
**/*.map
cspell.json
cspell.words.txt
pnpm-lock.yaml
pnpm-workspace.yaml
release-please-config.json
.vite-hooks/**
.oxfmtrc.json
.oxlintrc.json
esbuild.js
